
/* Forgot Password */
.forget-h2{
    font-size: 1.8em;
    color: #7f6666;
    text-align: center;
}

.register-box{
    width: 400px;
    height: 525px;
    border: 2px solid  #a3a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    background: transparent;
}

.forget-p{
    font-size: 16px;
    margin-top: 4px;
}

.forget-input{
    height: 45px;
}

.forget-label{
    font-size: 1.2em;
    margin-top: 10px;
}

/* Reset Password*/
.reset-forget{
    margin: 9px 0 27px;
}

.password-box{
    width: 400px;
    height: 450px;
    border: 2px solid  #a3a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    background: transparent;
}
